<ion-view view-title="Oferta de ocio">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar"
                      ng-repeat="item in puntosInteres"
                      type="item-text-wrap"
                      href="#/geoturismo/detalle/{{item.Id}}">
                <img ng-src="{{item.foto}}">
                <h2>{{item.nombre}}</h2>
                <h3>{{item.descripcion}}</h3>
            </ion-item>
        </ion-list>

        <!--
        <button class="button button-block button-positive icon-left ion-chatbubble-working"
                ng-click="goMapa()">
            Sitúate
        </button>
        -->

        <button class="button button-block button-positive ion-android-locate" style="font-size:19px;"
                ng-click="goMapa()">
            <span style="font-size:15px;">Sitúate</span>
        </button>

    </ion-content>
</ion-view>