<ion-view view-title="Oferta de ocio">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="item in puntosInteres"
                      type="item-text-wrap">
                <img ng-src="{{item.foto}}">
                <h2>{{item.nombre}}</h2>
                <h3>{{item.descripcion}}</h3>
            </ion-item>
        </ion-list>


        <button class="button button-block button-positive"
                ng-click="goMapa()">
            Sitúate
        </button>
    </ion-content>
</ion-view>