<ion-view title="Inicia sesión">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Email"
                       ng-model="usuario.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password"
                       ng-model="usuario.password">
            </label>

            <label class="item">
                <button class="button button-block button-positive"
                        ng-click="iniciarSesion()">
                    Iniciar
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-positive"
                        ng-click="nuevoRegistro()"
                        >
                    Nueva cuenta
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>