<ion-view title="Turismo Geo">
    <ion-content>
        <div id="contenedorPortada">
            <img id="fotoPortada" ng-src="{{urlFoto}}" />
            <button class="button button-block button-positive ion-film-marker" ng-click="empezar()">
                !Empezar!!
            </button>
            <h4>
                <br/>
                Versión 1.0.<br/>
                <br/>
                Desarrollado por:<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Tubal Lara García<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Virginia Pereiro Rubio<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Miguel Á. Martín González
            </h4>
        </div>
    </ion-content>
</ion-view>