<ion-view title="GeoTurismo">
    <ion-content>
        <div id="contenedorPortada">
            <img id="fotoPortada" ng-src="{{urlFoto}}" />
            <button class="button button-block button-positive ion-film-marker" ng-click="guiaBarcelona()">
                Guía Barcelona
            </button>
            <button class="button button-block button-positive ion-film-marker" ng-click="guiaMadrid()">
                Guía Madrid
            </button>
            <h4>
                <br/>
                Versión 1.0.<br/>
                <br/>
                Desarrollado por:<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Miguel Á. Martín González<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Tubal Lara García<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Virginia Pereiro Rubio
            </h4>
        </div>
    </ion-content>
</ion-view>